<kt-header></kt-header>

<div class="hero-area height-400 bg-img background-overlay" [ngStyle]="{'background-image':'url('+post.image+')'}">
</div>

<div class="regular-page-wrap section-padding-100">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="text-center" style="margin-top: -5%;">
                    <h3>{{post.title}}</h3>
                </div>
                <div class="page-content">
                    <div [innerHTML]="post.content"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<kt-footer></kt-footer>