<div class="left">
    <h4>Post details</h4>
</div>
<div class="text-right">
    <div>
        <button class="btn btn-outline-dark" (click)="addPost()">Add new Post</button>
    </div>
</div>
<div>
    <table class="table table-striped table-bordered" cellspacing="0" width="100%">
        <thead>
        <tr>
            <th class="th-sm">ID</th>
            <th class="th-sm">TITLE</th>
            <th class="th-sm">IMAGE</th>
            <th class="th-sm">CATEGORY</th>
            <th class="th-sm">DATE POSTED</th>
            <th class="th-sm">DATE PUBLISHED</th>
            <th class="th-sm">EDIT</th>
            <th class="th-sm">READER VIEW</th>
        </tr>
        </thead>
        <tbody *ngIf="posts">
        <tr *ngFor="let pos of posts">
            <td>{{pos.id+1}}</td>
            <td>{{pos.title}}</td>
            <td><img src="{{pos.image}}" alt="image" style="height: 25px; width: 50px;"></td>
            <td>{{pos.category}}</td>
            <td>{{pos.created_at}}</td>
            <td><label class="switch">
                <input type="checkbox" (click)="publish(pos.postid)">
                <span class="slider round"></span>
            </label>
            </td>
            <td>
                <button class="btn-outline-warning"
                        style="border-color: #dcd4c3; color: black;"
                        (click)="editPost(pos.postid)">
                    EDIT
                </button>
            </td>
            <td>
                <button class="btn-outline-warning"
                        style="border-color: #dcd4c3; color: black;"
                        (click)="deletePost()">
                    READ
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>