<div class="row">
    <div class="col-12 col-lg-8">
        <div class="post-a-comment-area mt-70">
            <h5>Get in Touch</h5>
            <!-- Contact Form -->
            <form action="#" method="post">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <div class="group">
                            <input type="text" name="name" id="name" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Enter your name</label>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="group">
                            <input type="email" name="email" id="email" required>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Enter your email</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="group">
                            <textarea name="message" id="message" required></textarea>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label>Enter your comment</label>
                        </div>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn world-btn">Post comment</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="col-12 col-lg-8">
        <!-- Comment Area Start -->
        <div class="comment_area clearfix mt-70">
            <ol>
                <!-- Single Comment Area -->
                <li class="single_comment_area">
                    <!-- Comment Content -->
                    <div class="comment-content">
                        <!-- Comment Meta -->
                        <div class="comment-meta d-flex align-items-center justify-content-between">
                            <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                            <a href="#" class="comment-reply btn world-btn">Reply</a>
                        </div>
                        <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
                    </div>
                    <ol class="children">
                        <li class="single_comment_area">
                            <!-- Comment Content -->
                            <div class="comment-content">
                                <!-- Comment Meta -->
                                <div class="comment-meta d-flex align-items-center justify-content-between">
                                    <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                                    <a href="#" class="comment-reply btn world-btn">Reply</a>
                                </div>
                                <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
                            </div>
                        </li>
                    </ol>
                </li>

                <!-- Single Comment Area -->
                <li class="single_comment_area">
                    <!-- Comment Content -->
                    <div class="comment-content">
                        <!-- Comment Meta -->
                        <div class="comment-meta d-flex align-items-center justify-content-between">
                            <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                            <a href="#" class="comment-reply btn world-btn">Reply</a>
                        </div>
                        <p>Pick the yellow peach that looks like a sunset with its red, orange, and pink coat skin, peel it off with your teeth. Sink them into unripened...</p>
                    </div>
                </li>

            </ol>
        </div>
    </div>
</div>