<!-- ============== Related Post ============== -->
<div class="row">
    <div class="col-12 col-md-6 col-lg-4">
        <!-- Single Blog Post -->
        <div class="single-blog-post">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="../../../../../assets/client-assets/img/blog-img/b1.jpg" alt="">
                <!-- Catagory -->
                <div class="post-cta"><a href="#">travel</a></div>
            </div>
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="headline">
                    <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
                </a>
                <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>
                <!-- Post Meta -->
                <div class="post-meta">
                    <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <!-- Single Blog Post -->
        <div class="single-blog-post">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="../../../../../assets/client-assets/img/blog-img/b2.jpg" alt="">
                <!-- Catagory -->
                <div class="post-cta"><a href="#">travel</a></div>
            </div>
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="headline">
                    <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
                </a>
                <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>
                <!-- Post Meta -->
                <div class="post-meta">
                    <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
        <!-- Single Blog Post -->
        <div class="single-blog-post">
            <!-- Post Thumbnail -->
            <div class="post-thumbnail">
                <img src="../../../../../assets/client-assets/img/blog-img/b7.jpg" alt="">
                <!-- Catagory -->
                <div class="post-cta"><a href="#">travel</a></div>
                <!-- Video Button -->
                <a href="https://www.youtube.com/watch?v=IhnqEwFSJRg" class="video-btn"><i class="fa fa-play"></i></a>
            </div>
            <!-- Post Content -->
            <div class="post-content">
                <a href="#" class="headline">
                    <h5>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in Physics?</h5>
                </a>
                <p>How Did van Gogh’s Turbulent Mind Depict One of the Most Complex Concepts in...</p>
                <!-- Post Meta -->
                <div class="post-meta">
                    <p><a href="#" class="post-author">Katy Liu</a> on <a href="#" class="post-date">Sep 29, 2017 at 9:48 am</a></p>
                </div>
            </div>
        </div>
    </div>
</div>